{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block body %} 
<main class="page projects-page">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Recent Work</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled sidebar">
                        <li><a href="#" class="active">All</a></li>
                        <li><a href="#">Bootstrap</a></li>
                        <li><a href="#">Clean</a></li>
                        <li><a href="#">Colors</a></li>
                        <li><a href="#">Portfolio</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image1.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image2.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image3.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image4.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image5.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image6.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image7.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image8.jpg"></a></div>
                        <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="../static/assets/img/nature/image9.jpg"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
